In [1]:
# ANSWER-1)
# Database is an electronic place/system where `data is stored` in a way that it can be easily accessed, managed, and updated.
# It is also used to `organize the data` in the form of a table, schema, views, and reports, etc.
# * Relation
#   * SQL is a `relational` database management system.
#   * NoSQL is a `non-relational` or distributed database management system
# * Model
#   * SQL follows the `ACID model`
#   * No-SQL follows the `BASE model`
# * Database type
#   * SQL is in the form of `tables`, i.e., in the form of rows and columns.
#   * NoSQL is in the form of documents, `key-value`, and graphs.
# * Data Type
#   * SQL is not the best choice for storing hierarchical data
#   * NoSQL database is a perfect option for `storing hierarchical data`
# * Scaling
#   * SQL - esay vertical scaling, difficult horizantal scaling
#   * NoSQL - easy vertical and horizantal scaling

In [2]:
# ANSWER-2)
# Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
# CREATE:This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
# CREATE TABLE table_name
# FOR EXAMPLE-
# (
# column_1 datatype,
# column_2 datatype,
# column_3 datatype,
# ....
# );
# ALERT:This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
#EX-
# ALTER TABLE table_name
# ADD column_name datatype;
#TRUNCATE :This command is used to remove all rows from the table, but the structure of the table still exists.
# EX-
# TRUNCATE TABLE table_name;
#DROP - This command is used to remove an existing table along with its structure from the Database.
# EX-
# DROP TABLE table_name;

In [3]:
# ANSWER-3)
# The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.
# INSERT − Insert data into a table.
# ex-
# Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
# Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
# Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);
# UPDATE − Update existing data within a table.
# ex-
# UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;
# DELETE − Delete records from a database table.
# ex-
#DELETE from Employee WHERE Emp_id=002;

In [4]:
# ANSWER-4)
# DQL stands for Data Query Language, DQL statements are used for performing queries on the data within schema objects.
# SELECT - shows the records of the specified table.
# EX-
# SELECT * FROM Student;

In [5]:
# ANSWER-5)
# A column or columns is called primary key (PK) that uniquely identifies each row in the table.
#A foreign key is a field or a column that is used to establish a link between two tables. A foreign key in one table used to point primary key in another table.

In [6]:
# ANSWER-6)
# o execute a SQL query in Python, we need to use a cursor, which abstracts away the access to database records.

# MySQL Connector/Python provides you with the MySQLCursor class, which instantiates objects that can execute MySQL queries in Python. An `instance of the MySQLCursor class is also called a cursor`.


# A query that needs to be executed is sent to `cursor.execute()` in string format.

'''
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select * from test1.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()
'''

'\nimport mysql.connector\n# import mysql.connector\n#create user \'user\'@\'%\' identified by \'password\'\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nmycursor = mydb.cursor()\nmycursor.execute("select * from test1.test_table")\nfor i in mycursor.fetchall():\n    print(i)\nmydb.close()\n'

In [8]:
# ANSWER-7)
# The order in which the clauses in queries are executed is as follows:

# 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

# 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

# 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

# 4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

# 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

# 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

# 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.